<%- include('header'); -%>
<br><br>
<link rel="stylesheet" href="../stylesheets/style.css">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap" rel="stylesheet"> 
<div id="reg">
<form method="post">
    <table>
        <tr>
            <td>Enter ID : </td>
            <td>
                <input type="number" placeholder="Enter User ID" name="u_id" required> </td>
        </tr>
        <tr>
            <td>
                <center><input type="submit" class="btn1" value="Search"></center>
            </td>
        </tr>
    </table>
</form>
</div>